body
{
    background-color: rgba(69, 160, 24, 0.7);
    background-position-x: center; 
    background-position-y: center;
   
    
}

h3{
    text-align: center;
    font-size: 30px;
    color: yellow;
}

p{
    text-align: justify;
    background-position: 20px center;
    color: white;
    
}

img
{
    width: 50%;
    height: auto;
    border-radius: 70%;
    margin: auto;
    display: block;

}
